body {
	background-image: url("../../assests/images/space.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: gainsboro;

}

body, html {
	height: 100%;
}

.background {
	background-color: rgba(70, 130, 180, 0.4);
	background-opacity: 0.2;
	/*width: 650px;
	margin: 10px;*/
	margin-top: 10px;
	align-content: center;

}



#instructions {
	background-color: rgba(75, 0, 130, 0.4);
	width: 250px;
	font-size: 16px;

}

#list {
	font-size: 16px;
	line-height: 22px;
	margin-right: 10px;
}

.jewel {
	height: 110px;
	width: 130px;
	border-radius: 30px;
	margin-right: -10px;
	margin-left: -5px;
	-webkit-animation-duration: 3s;
}

#numberCountBox {
	border-radius: 0px 0px 20px 20px;
}
